{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    body {
        background-image: linear-gradient(-145deg,
                hsl(190deg 33% 63%) 0%,
                hsl(191deg 31% 71%) 12%,
                hsl(191deg 28% 79%) 25%,
                hsl(191deg 23% 87%) 37%,
                hsl(0deg 0% 95%) 50%,
                hsl(30deg 62% 89%) 62%,
                hsl(31deg 77% 84%) 74%,
                hsl(32deg 82% 78%) 87%,
                hsl(33deg 82% 71%) 100%);

        background-repeat: no-repeat;
        height: 100vh;
    }


    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .login-card {
        background-color: rgba(255, 255, 255, 0.25);
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        /* Sombra más sutil */
        width: 500px;
        /* Ajustar el ancho para un diseño más compacto */
    }

    .login-card h2 {
        margin-bottom: 1.5rem;
        text-align: center;
        color: #333;
        font-family: 'Arial', sans-serif;
    }


    .form-control {
        margin-bottom: 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        /* Borde sutil */
        border-radius: 5px;
        /* Bordes redondeados */
        padding: 0.5rem;
        /* Relleno para mayor comodidad */
        background-color: rgba(50, 50, 50, 0.05) !important;
        backdrop-filter: blur(5px) saturate(125%);
        /* Fondo oscuro y translúcido */
    }

    .form-control::placeholder {
        color: rgba(255, 255, 255, 0.25);
        /* Color del texto del placeholder */
    }

    .form-control:focus {
        border-color: #0056b3;
        outline: none;
    }

    .btn-login {
        border: none !important;
        /* Sin borde */
        padding: 0.75rem 1.5rem;
        /* Relleno uniforme */
        cursor: pointer;
        /* Indicar que es clickeable */
    }
</style>
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-card">
        <h2><i class="fas fa-user-lock"></i> Iniciar sesión</h2>
        <form method="post" action="{{ url_for('auth.authenticate') }}">
            <div class="form-group">
                <label class="mb-1" for="email">Correo electrónico</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label class="mb-1" for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-login btn-block shadow-sm">Entrar</button>
        </form>
    </div>
</div>
{% endblock %}