{% extends "layout.html" %}

{% block title %}CEDICA - Perfil{% endblock %}

{% block head %}
{{ super() }}
<style>
    body {
        background-image: linear-gradient(-145deg,
                hsl(190deg 33% 63%) 0%,
                hsl(191deg 31% 71%) 12%,
                hsl(191deg 28% 79%) 25%,
                hsl(191deg 23% 87%) 37%,
                hsl(0deg 0% 95%) 50%,
                hsl(30deg 62% 89%) 62%,
                hsl(31deg 77% 84%) 74%,
                hsl(32deg 82% 78%) 87%,
                hsl(33deg 82% 71%) 100%);

        background-repeat: no-repeat;
        height: 100vh;
    }

    .card {
        background-color: rgba(255, 255, 255, 0.25) !important;
        backdrop-filter: blur(15px) saturate(150%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    }

    #card-roles {
        flex-grow: 1;
    }

    #card-roles,
    .card img {
        background-color: rgba(25, 25, 25, 0.05) !important;
        backdrop-filter: blur(15px) saturate(125%);
        border: 1px solid rgb(200, 200, 200);
    }

    @media screen and (max-width: 768px) {
        #buttons-container .btn:nth-child(1) {
            display: none;
        }
    }

    @media screen and (max-width: 500px) {
        #card-body-info {
            gap: 0 !important;
        }

        .card img {
            display: none;
        }
    }
</style>
{% endblock %}


{% block aside %}
{% endblock %}


{% block content %}
<div class="row d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="col col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
                <div id="card-body-info" class="d-flex gap-3">
                    <div class="flex-shrink-0">
                        <img src="{{ url_for('static', filename='resources/profile-icon.png') }}"
                            alt="Generic placeholder image" class="img-fluid"
                            style="width: 180px; border-radius: 10px; padding: 15px;">
                    </div>
                    <div class="flex-grow-1 w-100 d-flex flex-column">
                        {% if user_alias %}
                        <h5 class="mb-1 text-capitalize">{{ user_alias }}</h5>
                        {% endif %}
                        {% if user %}
                        <p class="mb-2 pb-1">{{ user }}</p>
                        {% endif %}
                        <div id="card-roles" class="d-flex justify-content-start rounded-3 p-2">
                            <div class="ms-1">
                                <p class="small mb-1 fw-medium">Roles asignados</p>
                                {% for role in roles %}
                                <span class="badge bg-success rounded-pill">{{ role }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="buttons-container" class="d-flex flex-row pt-1 mt-3 gap-2">
                    <a role="button" href="{{ url_for('home') }}"
                        class="btn btn-outline-secondary me-1 flex-grow-1">Volver</a>
                    <a role="button" href="{{ url_for('auth.logout') }}"
                        class="btn btn-outline-primary flex-grow-1">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}