{% extends "layout.html" %}

{% block title %} Gestion de usuarios{% endblock %}

{% block head %}
{{ super() }}
<style>
  /* Estilos para los botones de las distintas acciones */
  .action-icons {
        display: flex;
        gap: 0.5rem;
    }

    .action-icons i {
        transition: 0.3s;
        color: #0099CC;
    }

    .action-icons i:hover {
        color: #0077AA;
        fill: #0077AA;
    }
</style>
{% endblock %}

{% block content %}
  <h1>Usuarios</h1>
  

{% endblock %}

{% block footer %}
{% endblock %}
