{% extends "layout.html" %}

{% block title %} Gestion de usuarios{% endblock %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/search_users.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Búsqueda de usuarios</h1>

    <p>Elija un criterio para la busqueda</p>

    <form method="GET">

        {{ form.csrf_token }}

        <div>
            {{ form.email.label }} {{ form.email() }}
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div>
            {{ form.status.label }} {{ form.status() }}
            {% for error in form.status.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div>
            {{ form.role.label }} {{ form.role() }}
            {% for error in form.role.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

            <div>
                {{ form.submit() }}
            </div>
        </div>

        <!-- Resultados de busqueda -->

        {% if search_executed %}

        <table class="table table-striped">
            <thead>
              <tr>
                <th>Alias</th>
                <th>Email</th>
                <th>Esta activo</th>
                <th>Rol</th>
              </tr>
            </thead>
            <tbody>
        
                {% if users %}
                    {% for user in users %}
                
                    <tr>
                    <td>{{ user.alias }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.isActive }}</td>
                    <td>{{ user.role }}</td>
            
                    </tr>
            
                    {% endfor %}

                {% else %}

                    <tr>
                        <td colspan="8">No se encontraron resultados</td>
                    </tr>
        
                {% endif %}
    
            </tbody>
    
        </table>
    
        {% endif %}

  

{% endblock %}

{% block footer %}
{% endblock %}