{% extends "layout.html" %}

{% block title %}CEDICA - Home{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}


{% block aside %}
{% if is_authenticated(session) %}
        
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('registro_pagos.index') }}">Listado de Pagos</a>
        </li>
       
{%endif%}
{% endblock %}  


{% block content %}
<h1>Inicio</h1>
<p>Pagina de inicio de la aplicacion</p>
<h5>Hola Mundo!</h5>
<a href="{{ url_for ('issues.index') }}">Consultas</a>
{% endblock %}