{% extends "layout.html" %}

{% block title %}CEDICA - Home{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
<style>
    body {
        padding-top: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw !important;
        margin: 0;
        background-image: linear-gradient(-145deg,
                hsl(190deg 33% 63%) 0%,
                hsl(191deg 31% 71%) 12%,
                hsl(191deg 28% 79%) 25%,
                hsl(191deg 23% 87%) 37%,
                hsl(0deg 0% 95%) 50%,
                hsl(30deg 62% 89%) 62%,
                hsl(31deg 77% 84%) 74%,
                hsl(32deg 82% 78%) 87%,
                hsl(33deg 82% 71%) 100%);

        background-repeat: no-repeat;
    }

    .main-container {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(15px) saturate(125%);
        padding: 4rem 4.5rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    p {
        font-size: 1.25rem;
    }

    .logo {
        width: 350px;
        height: auto;
        margin-bottom: 2.5rem;
    }

    @media screen and (max-width: 768px) {
        .main-container {
            padding: 2rem 2.5rem;
        }

        .logo {
            width: 250px;
        }

        p {
            font-size: 1rem;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="main-container">
    <img src="{{ url_for('static', filename='logos/Logo CEDICA.png') }}" alt="Logo" class="logo">
    <h1>Bienvenido a CEDICA</h1>
    {% if not is_authenticated(session) %}
    <p>Accede a tu cuenta para explorar nuestras funcionalidades</p>
    {% else %}
    <p>Explora nuestras funcionalidades en la barra superior</p>
    {% endif %}
</div>
{% endblock %}