{% extends "layout.html" %}

{% block title %}CEDICA - Ecuestre{% endblock %}

{% block head %}
{{ super() }}
<style>
    .action-icons {
        display: flex;
        gap: 0.5rem;
    }

    a,
    a:hover {
        text-decoration: none !important;
    }

    .action-icons i {
        transition: 0.3s;
        color: #0099CC;
    }

    .action-icons i:hover {
        color: #0077AA;
        fill: #0077AA;
    }
</style>
{% endblock %}

{% block content %}
<header class="d-flex flex-row align-items-center justify-content-between w-100">
    <div>
        <h1>Ecuestre</h1>
        <p>Página de administración de caballos 🐴</p>
    </div>
    <a href="{{ url_for('ecuestre.create') }}" class="btn btn-primary d-flex align-items-center pb-2">
        <i style="transform: scale(1.4);" class="fa-light fa-plus me-2"></i>
        Agregar nuevo
    </a>
</header>
<table class="table table-striped mt-3 overflow-auto">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Nacimiento</th>
            <th>Sexo</th>
            <th>Raza</th>
            <th>Pelaje</th>
            <th>Origen</th>
            <th>Fecha de ingreso</th>
            <th>Sede Asignada</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% if horses %}
        {% for horse in horses %}
        <tr>
            <td>{{ horse.name }}</td>
            <td>{{ horse.birth_date }}</td>
            <td>{{ horse.gender }}</td>
            <td>{{ horse.race }}</td>
            <td>{{ horse.coat }}</td>
            <td>{{ "Donación" if horse.donation else "Compra" }}</td>
            <td>{{ horse.entry_date }}</td>
            <td>{{ horse.assigned_location }}</td>
            <td>
                <div class="action-icons">
                    <!-- Icono de vista detallada -->
                    <a href="{{ url_for('ecuestre.show', id=horse.id) }}" title="Ver detalles">
                        <i class="fas fa-file-text"></i>
                    </a>
                    <!-- Icono de edición -->
                    <a href="" title="Editar">
                        <i class="fas fa-edit"></i>
                    </a>
                    <!-- Formulario de eliminación -->
                    <form action="" method="POST" style="display: inline;"
                        onsubmit="return confirm('¿Estás seguro que quieres eliminar este caballo?');">
                        <button type="submit" title="Eliminar"
                            style="border: none; background: none; color: #0099CC; cursor: pointer;">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="8">Aún no hay caballos registrados</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}