{% extends "layout.html" %}

{% block title %}CEDICA - Ver miembro{% endblock %}

{% block head %}
{{ super() }}
<style>
    a,
    a:hover {
        text-decoration: none !important;
    }

    /* Estilos para los botones de las distintas acciones */
    .action-icons {
        display: flex;
        gap: 0.5rem;
    }

    .action-icons i {
        transition: 0.3s;
        color: #0099CC;
    }

    .action-icons i:hover {
        color: #0077AA;
        fill: #0077AA;
    }

    #btn-back {
        transition: 0.2s;
        color: #222 !important;
    }

    #btn-back:hover {
        background-color: #ddd !important;
    }

    .btn-outline-custom {
        color: #0077AA !important;
        border-color: #0077AA !important;
    }

    .btn-outline-custom:hover {
        background-color: #0077AA !important;
        color: white !important;
    }

    @media screen and (max-width: 768px) {
        header {
            flex-direction: column;
            align-items: flex-start;
        }

        header h1 {
            font-size: 1.5rem;
        }

        header p {
            font-size: 0.9rem;
        }

        #btn-back {
            display: none;
        }
    }
</style>
{% endblock %}

{% block content %}
<header class="d-flex flex-row justify-content-between align-items-center">
    <div>
        <h1>Vista detallada de {{ horse.name }} 🐎</h1>
        <p>Información registrada acerca del caballo</p>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center gap-2">
        <form action="{{ url_for('ecuestre.destroy', id=horse.id) }}" method="POST" style="display: inline;"
            onsubmit="return confirm('¿Quieres eliminar a {{horse.name}} y todos sus datos?');">
            <button type="submit" title="Eliminar" class="btn btn-danger">
                <i style="transform: scale(0.8);" class="fas fa-trash-alt me-1"></i>
                Eliminar
            </button>
        </form>
        <a class="btn btn-warning" href="{{ url_for('ecuestre.update', id=horse.id) }}">
            <i class="fas fa-edit me-1"></i>
            Editar
        </a>
        <a id="btn-back" class="btn border border-2" href="{{ url_for('ecuestre.index') }}">
            <i style="transform: scale(0.6);" class="fa fa-chevron-left me-1"></i>
            Volver al listado
        </a>
    </div>
</header>
<div>
    <ul id="form-tabs" class="mt-4 nav nav-tabs gap-1">
        <li class="nav-item">
            <a role="button" class="nav-link active" aria-current="page" onclick="changePage(0)">Información</a>
        </li>
        <li class="nav-item">
            <a role="button" class="nav-link" onclick="changePage(1)">Documentos</a>
        </li>
    </ul>
    <div id="tabs-container" class="border border-top-0 rounded-bottom mt-0 p-4">
        <section class="d-flex flex-row justify-content-between align-items-start flex-wrap w-100 gap-5 mt-0">
            <div style="flex-grow: 0.33;">
                <h5 class="border-bottom border-dark mb-3 pb-2 w-100">
                    Información general
                </h5>
                <ul>
                    <li><span class="fw-medium">Nombre:</span> {{ horse.name }}</li>
                    <li><span class="fw-medium">Nacimiento:</span> {{ horse.birth_date }}</li>
                    <li><span class="fw-medium">Sexo:</span> {{ horse.gender }}</li>
                    <li><span class="fw-medium">Raza:</span> {{ horse.race }}</li>
                    <li><span class="fw-medium">Pelaje:</span> {{ horse.coat }}</li>
                    <li><span class="fw-medium">Origen:</span> {{ "Donación" if horse.donation else "Compra" }}</li>
                    <li><span class="fw-medium">Fecha de ingreso:</span> {{ horse.entry_date }}</li>
                    <li><span class="fw-medium">Sede asignada:</span> {{ horse.assigned_location }}</li>
                </ul>
            </div>
            <div style="flex-grow: 0.33;">
                <h5 class="border-bottom border-dark mb-3 pb-2 w-100">
                    Actividades asignadas
                </h5>
                <ul>
                    {% if horse.activities %}
                    {% for activity in horse.activities %}
                    <li>{{ activity.name }}</li>
                    {% endfor %}
                    {% else %}
                    <li>Este caballo no tiene actividades asignadas</li>
                    {% endif %}
                </ul>
            </div>
            <div style="flex-grow: 0.33;">
                <h5 class="border-bottom border-dark mb-3 pb-2 w-100">
                    Sus entrenadores y/o conductores
                </h5>
                <ul>
                    {% if horse.assigned_members %}
                    {% for member in horse.assigned_members %}
                    <li>{{ member.name }} - {{ member.job }}</li>
                    {% endfor %}
                    {% else %}
                    <li>No hay miembros asignados</li>
                    {% endif %}
                </ul>
            </div>
        </section>
        <section class="visually-hidden d-flex flex-column">
            <h5 class="border-bottom border-dark pb-2">Documentación complementaria</h5>
            <table class="table table-striped overflow-auto">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Fecha de subida</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="documents-table-body">
                    {% if documents %}
                    {% for document in documents %}
                    <tr>
                        <td>{{ document.type }}</td>
                        <td>{{ document.upload_date }}</td>
                        <td>
                            <a Ver </a>
                                <div class="action-icons">
                                    <!-- Icono de vista / descarga -->
                                    <a href="{{ document.url }}" title="Ver" target="_blank">
                                        <i style="transform: scale(0.8);" class="me-1 fa fa-link"></i>
                                    </a>
                                    <!-- Formulario de eliminación -->
                                    <form action="" method="POST" style="display: inline;"
                                        onsubmit="return confirm('¿Quieres eliminar a {{horse.name}} y todos sus datos?');">
                                        <button type="submit" title="Eliminar" role="button"
                                            style="border: none; background: none; color: #0099CC;">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3">Todavía no se adjuntó documentación</td>
                    </tr>
                    {% endif %}

                </tbody>
            </table>

            <div class="d-flex flex-row gap-2 justify-content-end mt-3 w-100">
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                    data-bs-target="#modal-attach-url">
                    <i style="transform: scale(0.8);" class="me-1 fa fa-link"></i>
                    Enlace
                </button>
                <button type="button" class="btn btn-outline-custom" data-bs-toggle="modal"
                    data-bs-target="#modal-upload-file">
                    <i style="transform: scale(0.8);" class="me-1 fa fa-upload"></i>
                    Subir archivo
                </button>
            </div>

            <div class="modal fade" id="modal-upload-file" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <form action="{{ url_for('ecuestre.upload', id=horse.id) }}" method="POST"
                        enctype="multipart/form-data" class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 fw-bolder text-uppercase">Subir archivo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="upload-file-form">
                                <div class="form-group">
                                    <label class="mb-1" for="doc-type">Tipo de documentación</label>
                                    <select class="form-select" name="doc-type" id="doc-type" required>
                                        <option selected>Seleccione una opción...</option>
                                        {% if document_types %}
                                        {% for document_type in document_types %}
                                        <option value="{{ document_type.id }}">{{ document_type.name }}</option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="form-group mt-3">
                                    <label class="mb-1" for="file">Subir archivo</label>
                                    <input type="file" class="form-control" id="file" name="file"
                                        accept=".pdf,.doc,.xls,.jpeg" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Subir archivo</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal fade" id="modal-attach-url" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <form action="{{ url_for('ecuestre.upload', id=horse.id) }}" method="POST" id="attach-url-form"
                        class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 fw-bolder text-uppercase">Adjuntar URL</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <div class="form-group">
                                    <label class="mb-1" for="doc-type">Tipo de documentación</label>
                                    <select class="form-select" name="doc-type" id="doc-type" required>
                                        <option selected>Seleccione una opción...</option>
                                        {% if document_types %}
                                        {% for document_type in document_types %}
                                        <option value="{{ document_type.id }}">{{ document_type.name }}</option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="form-group mt-3">
                                    <label class="mb-1" for="document-url">URL del documento</label>
                                    <input type="url" class="form-control" name="document-url" id="document-url"
                                        placeholder="Ingrese la URL del documento" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Adjuntar URL</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    // Función para cambiar de página en el formulario
    function changePage(page) {
        // Obtener las secciones del formulario
        const sections = document.querySelectorAll('#tabs-container > section');

        // Ocultar todas las secciones
        sections.forEach(section => section.classList.add('visually-hidden'));

        // Mostrar la sección correspondiente a la página seleccionada
        sections[page].classList.remove('visually-hidden');

        // Cambiar la clase 'active' en los botones de la barra de navegación
        document.querySelectorAll('#form-tabs .nav-link').forEach((button, index) => {
            if (index === page) {
                button.classList.add('active');
                button.attributes['aria-current'] = 'page';
            } else {
                button.classList.remove('active');
                button.attributes['aria-current'] = '';
            }
        });
    }
</script>
{% endblock %}

{% block footer %}
{% endblock %}