{% extends "layout.html" %}

{% block title %}CEDICA - Jinetes y Amazonas{% endblock %}

{% block head %}
{{ super() }}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
  @media screen and (max-width: 768px) {

    /* Ocultar columnas en pantallas pequeñas */
    tr>td:nth-child(3),
    tr>td:nth-child(4),
    tr>td:nth-child(5),
    tr>th:nth-child(3),
    tr>th:nth-child(4),
    tr>th:nth-child(5) {
      display: none;
    }
  }
</style>
{% endblock %}

{% block content %}
<h1 style="color: #007bff; margin-bottom: 20px;">Jinetes y Amazonas</h1>
<p style="margin-bottom: 20px;">Página de inicio de jinetes y amazonas</p>


<!-- Formulario de búsqueda -->
<form action="{{ url_for('jya.index') }}" method="GET" class="form-inline mb-3"
  style="display: flex; flex-wrap: wrap; gap: 10px; align-items: center;">
  <div class="form-group mr-3" style="margin-bottom: 10px;">
    <label for="name">Nombre:</label>
    <input type="text" class="form-control" id="name" name="name" value="{{ filters.name or '' }}" placeholder="Nombre"
      style="width: auto; display: inline-block;" pattern="[A-Za-zñÑáéíóúÁÉÍÓÚüÜ\s]+">
  </div>
  <div class="form-group mr-3" style="margin-bottom: 10px;">
    <label for="last_name">Apellido:</label>
    <input type="text" class="form-control" id="last_name" name="last_name" value="{{ filters.last_name or '' }}"
      placeholder="Apellido" style="width: auto; display: inline-block;" pattern="[A-Za-zñÑáéíóúÁÉÍÓÚüÜ\s]+">
  </div>
  <div class="form-group mr-3" style="margin-bottom: 10px;">
    <label for="dni">DNI:</label>
    <input type="text" class="form-control" id="dni" name="dni" value="{{ filters.dni or '' }}" placeholder="DNI"
      style="width: auto; display: inline-block;" pattern="\d+">
  </div>
  <select multiple class="form-select select2" id="members" name="members" style="width: 100%;">
    {% for member in members %}
    <option value="{{ member.id }}">
      {{ member.name }} {{ member.last_name }}
    </option>
    {% endfor %}
  </select>
  <button type="submit" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff;"><i
      class="fas fa-search"></i> Buscar
  </button>
  <a href="{{ url_for('jya.index') }}" class="btn btn-secondary"
    style="background-color: #6c757d; border-color: #6c757d;"><i class="fas fa-eraser"></i> Limpiar filtros
  </a>
</form>

{% if check_permission(session,'jya_new')%}
<a href="{{ url_for('jya.create') }}" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 20px;">
  <i class="fas fa-user-plus"></i> Crear nuevo Jinete/Amazona
</a>
{% endif %}

<table class="table table-striped"
  style="margin-top: 20px; background-color: #ffffff; border-radius: 5px; overflow: hidden; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
  <thead>
    <tr>
      <th style="background-color: #0056b3; color: #ffffff;">
        <a href="{{ url_for('jya.index', sort_by='name', sort_direction='asc' if sort_by != 'name' or sort_direction == 'desc' else 'desc', **filters) }}"
          style="color: inherit; text-decoration: none;">
          Nombre
          {% if sort_by == 'name' %}
          {% if sort_direction == 'asc' %}
          &#9650;
          {% else %}
          &#9660;
          {% endif %}
          {% endif %}
        </a>
      </th>
      <th style="background-color: #0056b3; color: #ffffff;">
        <a href="{{ url_for('jya.index', sort_by='last_name', sort_direction='asc' if sort_by != 'last_name' or sort_direction == 'desc' else 'desc', **filters) }}"
          style="color: inherit; text-decoration: none;">
          Apellido
          {% if sort_by == 'last_name' %}
          {% if sort_direction == 'asc' %}
          &#9650;
          {% else %}
          &#9660;
          {% endif %}
          {% endif %}
        </a>
      </th>
      <th style="background-color: #0056b3; color: #ffffff;">DNI</th>
      <th style="background-color: #0056b3; color: #ffffff;">Edad</th>
      <th style="background-color: #0056b3; color: #ffffff;">Teléfono</th>
      <th style="background-color: #0056b3; color: #ffffff;">Tiene deuda</th>
      <th style="background-color: #0056b3; color: #ffffff;">
        <a href="{{ url_for('jya.index', sort_by='created_at', sort_direction='asc' if sort_by != 'created_at' or sort_direction == 'desc' else 'desc', **filters) }}"
          style="color: inherit; text-decoration: none;">
          Fecha de Creación
          {% if sort_by == 'created_at' %}
          {% if sort_direction == 'asc' %}
          &#9650;
          {% else %}
          &#9660;
          {% endif %}
          {% endif %}
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    {% if riders %}
    {% for rider in riders %}
    <tr {% if check_permission(session,'jya_show')%} onclick="window.location='{{ url_for('jya.show', id=rider.id) }}';"
      style="cursor:pointer;" {% endif %}>
      <td>{{ rider.name }}</td>
      <td>{{ rider.last_name }}</td>
      <td>{{ rider.dni }}</td>
      <td>{{ (current_year - rider.birth_date.year) }}</td>
      <td>{{ rider.phone }}</td>
      <td>{{ 'Sí' if has_debt(rider.id) else 'No' }}</td>
      <td>{{ rider.created_at.strftime('%d-%m-%Y') }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td colspan="6">No hay jinetes o amazonas</td>
    </tr>
    {% endif %}
  </tbody>
</table>

<!-- Paginación -->
<nav aria-label="Page navigation" style="justify-content: center; margin-top: 20px;">
  <ul class="pagination" style="background-color: #f8f9fa; border-radius: 5px; padding: 10px;">
    {% if page > 1 %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for('jya.index', page=page-1, **filters) }}" aria-label="Previous"
        style="color: #0056b3;">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for p in range(1, total_pages + 1) %}
    <li class="page-item {% if p == page %}active{% endif %}">
      <a class="page-link" href="{{ url_for('jya.index', page=p, **filters) }}"
        style="color: #0056b3; {% if p == page %} font-weight: bold; background-color: #007bff; color: white; {% endif %}">{{
        p }}</a>
    </li>
    {% endfor %}
    {% if page < total_pages %} <li class="page-item">
      <a class="page-link" href="{{ url_for('jya.index', page=page+1, **filters) }}" aria-label="Next"
        style="color: #0056b3;">
        <span aria-hidden="true">&raquo;</span>
      </a>
      </li>
      {% endif %}
  </ul>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  jQuery.noConflict();
  jQuery(document).ready(function ($) {
    $('.select2').select2({
      placeholder: "Seleccione los profesionales",
      allowClear: true
    });
  });
</script>




{% endblock %}

{% block footer %}
{% endblock %}