{% extends "layout.html" %}

{% block title %}CEDICA - Ver j/a{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}
<h1 style="color: #007bff; margin-bottom: 20px;">Detalle del jinete/amazona</h1>
<p class="lead mb-4">Información detallada del jinete/amazona</p>

<div class="button-group">
    <a href="{{ url_for('jya.index') }}" class="btn btn-primary btn-icon">
        <i class="fas fa-arrow-left"></i> Volver al listado de jinetes y amazonas
    </a>
    <a href="{{ url_for('team.update', id=rider.id) }}" class="btn btn-warning btn-icon">
        <i class="fas fa-edit"></i> Editar
    </a>
    <form action="{{ url_for('jya.destroy', id=rider.id) }}" method="POST" onsubmit="return confirmDeleteRider();"
        style="display:inline;">
        <button type="submit" class="btn btn-danger btn-icon">
            <i class="fas fa-trash-alt"></i> Eliminar
        </button>
    </form>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ rider.name }} {{ rider.last_name }}</h5>
        <p class="card-text">
            <strong style="font-size: 1.2rem; color: #0056b3; margin-top: 10px; display: block;">Datos
                personales:</strong>
            <strong style="margin-left: 20px;">DNI:</strong> {{ rider.dni }}<br>
            <strong style="margin-left: 20px;">Teléfono:</strong> {{ rider.phone }}<br>
            <strong style="margin-left: 20px;">Teléfono de emergencia:</strong> {{ rider.emergency_phone }}<br>
            <strong style="margin-left: 20px;">Domicilio:</strong> {{ rider.street }} {{ rider.number }}. 
            {% if rider.floor %}Piso {{ rider.floor }}, {% endif %}
            {% if rider.apartment %}Departamento {{ rider.apartment }}. {% endif %}
            {{ rider.locality.name }}, provincia de {{ rider.locality.province.name }}<br>
            <strong style="margin-left: 20px;">Fecha de nacimiento:</strong> {{ rider.birth_date.strftime('%d-%m-%Y') }}
            ({{(current_year - rider.birth_date.year)}} años)<br>
            <strong style="margin-left: 20px;">Lugar de nacimiento:</strong> {{ rider.city_of_birth.name }}, provincia
            de {{rider.city_of_birth.province.name}}<br>
            <strong style="margin-left: 20px;">Tiene certificado de discapacidad:</strong> {% if rider.disability_id
            %}Sí. {{ rider.disability.name }}{% else %}No{% endif %}<br>
            <strong style="margin-left: 20px;">Tiene pensión:</strong> {% if rider.pension_benefit %}Sí. {{
            rider.pension_benefit }}{% else %}No{% endif %}<br>
            <strong style="margin-left: 20px;">Recibe asignación familiar:</strong> {% if rider.family_allowance %}{{
            rider.family_allowance }}{% else %}No{% endif %}<br>
            <strong style="margin-left: 20px;">Está becado:</strong> {% if rider.grant_percentage %}Sí. Porcentaje: {{
            rider.grant_percentage }}%{% else %}No{% endif %}<br>
            <strong style="font-size: 1.2rem; color: #0056b3; margin-top: 10px; display: block;">Situación
                previsional:</strong>
            <strong style="margin-left: 20px;">Obra social:</strong> {{ rider.health_insurance }}<br>
            <strong style="margin-left: 20px;">Número de obra social:</strong> {{ rider.health_insurance_number }}<br>
            <strong style="margin-left: 20px;">Tiene tutela:</strong> {% if rider.has_guardianship %}Sí{% else %}No{%
            endif %}<br>
            {% if rider.school %}
            {% for school in rider.school %}
            <strong style="font-size: 1.2rem; color: #0056b3; margin-top: 10px; display: block;">Institución escolar a
                la que concurre:</strong>
            <strong style="margin-left: 20px;">Nombre:</strong> {{ school.name }}<br>
            <strong style="margin-left: 20px;">Dirección:</strong> {{ school.address }}<br>
            <strong style="margin-left: 20px;">Teléfono:</strong> {{ school.phone }}<br>
            <strong style="margin-left: 20px;">Nivel educativo:</strong> {{ school.level }}<br>
            <strong style="margin-left: 20px;">Año lectivo:</strong> {{ school.year }}°<br>
            <strong style="margin-left: 20px;">Observaciones:</strong> {{ school.observations }}<br>
            {% endfor %}
            {% endif %}
            {% if rider.tutor_1_id or rider.tutor_2_id %}
            <strong style="font-size: 1.2rem; color: #0056b3; margin-top: 10px; display: block;">Datos del
                tutor:</strong>
            {% if rider.tutor_1_id %}
            <strong style="margin-left: 20px;">Tutor 1:</strong><br>
            <strong style="margin-left: 40px;">Relación:</strong> {{ rider.tutor_1.relationship }}<br>
            <strong style="margin-left: 40px;">Nombre completo:</strong> {{ rider.tutor_1.name }} {{
            rider.tutor_1.last_name }}<br>
            <strong style="margin-left: 40px;">DNI:</strong> {{ rider.tutor_1.dni }}<br>
            <strong style="margin-left: 40px;">Dirección:</strong> {{ rider.tutor_1.address }}<br>
            <strong style="margin-left: 40px;">Teléfono:</strong> {{ rider.tutor_1.phone }}<br>
            <strong style="margin-left: 40px;">Email:</strong> {{ rider.tutor_1.email }}<br>
            <strong style="margin-left: 40px;">Nivel educativo:</strong> {{ rider.tutor_1.education_level }}<br>
            <strong style="margin-left: 40px;">Trabajo:</strong> {{ rider.tutor_1.job }}<br>
            {% endif %}
            {% if rider.tutor_2_id %}
            <strong style="margin-left: 20px;">Tutor 2:</strong><br>
            <strong style="margin-left: 40px;">Relación:</strong> {{ rider.tutor_2.relationship }}<br>
            <strong style="margin-left: 40px;">Nombre completo:</strong> {{ rider.tutor_2.name }} {{
            rider.tutor_2.last_name }}<br>
            <strong style="margin-left: 40px;">DNI:</strong> {{ rider.tutor_2.dni }}<br>
            <strong style="margin-left: 40px;">Dirección:</strong> {{ rider.tutor_2.address }}<br>
            <strong style="margin-left: 40px;">Teléfono:</strong> {{ rider.tutor_2.phone }}<br>
            <strong style="margin-left: 40px;">Email:</strong> {{ rider.tutor_2.email }}<br>
            <strong style="margin-left: 40px;">Nivel educativo:</strong> {{ rider.tutor_2.education_level }}<br>
            <strong style="margin-left: 40px;">Trabajo:</strong> {{ rider.tutor_2.job }}<br>
            {% endif %}
            {% endif %}
            {% if rider.members %}
                <strong style="font-size: 1.2rem; color: #0056b3; margin-top: 10px; display: block;">Profesionales que lo
                    atienden:</strong>
                {% for member in rider.members %}
                    <strong style="margin-left: 20px;">Profesional {{ loop.index }}:</strong><br>
                    <strong style="margin-left: 40px;">Nombre completo:</strong> {{ member.name }} {{ member.last_name }}<br>
                    <strong style="margin-left: 40px;">DNI:</strong> {{ member.dni }}<br>
                {% endfor %}
            {% endif %}
            {% if rider.job_proposal %}
            <strong style="font-size: 1.2rem; color: #0056b3; margin-top: 10px; display: block;">Trabajo en
                CEDICA:</strong>
            {% for job in rider.job_proposal %}
            <strong style="margin-left: 20px;">Propuesta de trabajo institucional:</strong> {{
            job.institutional_work_proposal }}<br>
            <strong style="margin-left: 20px;">Condición:</strong> {{ job.condition }}<br>
            <strong style="margin-left: 20px;">Sede:</strong> {{ job.headquarters }}<br>
            <strong style="margin-left: 20px;">Días:</strong> {{ job.days | join(', ') }}<br>
            <strong style="margin-left: 20px;">Profesor:</strong> {{ job.professor.name }} {{ job.professor.last_name
            }}<br>
            <strong style="margin-left: 20px;">Conductor del caballo:</strong> {{ job.member_horse_rider.name }} {{
            job.member_horse_rider.last_name }}<br>
            <strong style="margin-left: 20px;">Caballo:</strong> {{ job.horse.name }}<br>
            <strong style="margin-left: 20px;">Asistente:</strong> {{ job.assistant.name }} {{ job.assistant.last_name
            }}<br>
            {% endfor %}
            {% endif %}
        </p>
    </div>
</div>

<br>

<div class="button-group">

    <a href="{{ url_for('jya.add_link', id=rider.id) }}" class="btn btn-success btn-icon">
        <i class="fas fa-link"></i> Agregar enlace
    </a>
    <a href="{{ url_for('jya.add_document', id=rider.id) }}" class="btn btn-success btn-icon">
        <i class="fas fa-file-alt"></i> Agregar documento
    </a>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Documentos</h5>
        <!-- Formulario de búsqueda -->
        <form action="{{ url_for('jya.show', id=rider.id) }}" method="GET" class="form-inline mb-3"
            style="display: flex; flex-wrap: wrap; gap: 10px; align-items: center;">
            <div class="form-group mr-3" style="margin-bottom: 10px;">
                <label for="document_name">Título:</label>
                <input type="text" class="form-control" id="document_name" name="document_name"
                    value="{{ filters.document_name or '' }}" placeholder="Título"
                    style="width: auto; display: inline-block;">
            </div>
            <div class="form-group mr-3" style="margin-bottom: 10px;">
                <label for="document_type">Tipo:</label>
                <select class="form-control" id="document_type" name="document_type" style="width: auto; display: inline-block;">
                    <option value="">Selecciona una opción</option>
                    <option value="Entrevista" {% if filters.document_type=='Entrevista' %}selected{% endif %}>Entrevista</option>
                    <option value="Evaluación" {% if filters.document_type=='Evaluación' %}selected{% endif %}>Evaluación</option>
                    <option value="Planificaciones" {% if filters.document_type=='Planificaciones' %}selected{% endif %}>Planificaciones</option>
                    <option value="Evolución" {% if filters.document_type=='Evolución' %}selected{% endif %}>Evolución</option>
                    <option value="Crónicas" {% if filters.document_type=='Crónicas' %}selected{% endif %}>Crónicas</option>
                    <option value="Documental" {% if filters.document_type=='Documental' %}selected{% endif %}>Documental</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary"
                style="background-color: #007bff; border-color: #007bff;">Buscar
                <i class="fas fa-search"></i>
            </button>
            <a href="{{ url_for('jya.show', id=rider.id) }}" class="btn btn-secondary"
                style="background-color: #6c757d; border-color: #6c757d;">Limpiar filtros
                <i class="fas fa-eraser"></i>
            </a>
        </form>

        <table class="table table-striped"
            style="margin-top: 20px; background-color: #ffffff; border-radius: 5px; overflow: hidden; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <thead>
                <tr>
                    <th style="background-color: #0056b3; color: #ffffff;">
                        <a href="{{ url_for('jya.show', id=rider.id, sort_by='document_name', sort_direction='asc' if sort_by != 'document_name' or sort_direction == 'desc' else 'desc') }}"
                            style="color: inherit; text-decoration: none;">
                            Título
                            {% if sort_by == 'document_name' %}
                            {% if sort_direction == 'asc' %}
                            &#9650;
                            {% else %}
                            &#9660;
                            {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th style="background-color: #0056b3; color: #ffffff;" scope="col">Tipo</th>
                    <th style="background-color: #0056b3; color: #ffffff;">
                        <a href="{{ url_for('jya.show', id=rider.id, sort_by='created_at', sort_direction='asc' if sort_by != 'created_at' or sort_direction == 'desc' else 'desc') }}"
                            style="color: inherit; text-decoration: none;">
                            Fecha de Creación
                            {% if sort_by == 'created_at' %}
                            {% if sort_direction == 'asc' %}
                            &#9650;
                            {% else %}
                            &#9660;
                            {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th style="background-color: #0056b3; color: #ffffff;" scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% if documents %}
                {% for document in documents %}
                <tr>
                    <td>{{ document.name }} - 
                        {% if document.its_a_link %}
                        <i class="fas fa-link"></i>
                    {% else %}
                        <i class="fas fa-file-alt"></i>
                    {% endif %}
                    </td>
                    
                    <td>{{ document.type }}</td>
                    <td>{{ document.created_at.strftime('%d-%m-%Y') }}</td>
                    <td>
                        <a href="{{ document.url }}" target="_blank" class="btn btn-info btn-sm">
                            <i class="fas fa-eye"></i>
                        </a>
                        {% if not document.its_a_link %}
                            <a href="{{ url_for('jya.download_document', id=rider.id, document_id=document.id) }}"
                                class="btn btn-primary btn-sm">
                                <i class="fas fa-download"></i>
                            </a>
                        {% endif %}
                        <form action="{{ url_for('jya.destroy_document', id=rider.id, document_id=document.id) }}"
                            method="POST" onsubmit="return confirmDeleteDocument();" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="4">No hay documentos cargados</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% block scripts %}
<script>
    function confirmDeleteRider() {
        return confirm("¿Está seguro de que desea eliminar este jinete/amazona? Esta acción no se puede deshacer.");
    }

    function confirmDeleteDocument() {
        return confirm("¿Está seguro de que desea eliminar este documento? Esta acción no se puede deshacer.");
    }
</script>
{% endblock %}

{% block styles %}
<style>
    body {
        background-color: #f8f9fa;
    }

    .card {
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-title {
        font-size: 1.5rem;
        color: #0056b3;
        margin-bottom: 10px;
    }

    .card-text {
        font-size: 1.1rem;
        color: #333;
    }

    .button-group {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }

    .btn-icon {
        margin-left: 10px;
    }

    .btn {
        border-radius: 20px;
        padding: 10px 20px;
    }

    .btn-warning {
        background-color: #ffc107;
        border-color: #ffc107;
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    /* Grid layout para los documentos */
    .document-grid {
        display: grid;
        gap: 20px;
    }

    .document-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f8f9fa;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px 15px;
        transition: box-shadow 0.2s ease-in-out;
    }

    .document-item:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .document-link {
        font-size: 1.1rem;
        text-decoration: none;
        color: #007bff;
        flex-grow: 1;
        margin-right: 15px;
    }

    .document-link i {
        margin-right: 8px;
    }

    .document-delete-form {
        margin: 0;
    }

    .document-delete-form .btn {
        padding: 5px 10px;
    }

    .btn-sm {
        font-size: 0.875rem;
        padding: 5px 10px;
        border-radius: 5px;
    }
</style>
{% endblock %}

{% endblock %}

{% block footer %}
{% endblock %}